{% extends 'base.html.twig' %}

{% block body %}
	<h1 style="font-weight: 300;"><span class"bold">{{ 'note.matiere'|trans }} : </span>{{ matiere.nom }}</h1>
	<p style="font-weight: 300;"><span class"bold">{{ 'note.note'|trans }} : </span>{{ matiere.coef }}</p>    
	<h2>{{ 'note.edit'|trans }}</h2>
	{{ form(edit) }}
{% endblock %}